@page
@model ourFirstApp.Pages.Employees.IndexModel
@{
}

<h1>Employees</h1>
<h2>This will be the home of a future list of current employees</h2>
<h3>I love .Net Core web pages</h3>
<br />
<br />
<h5>Github is okay. I prefer zipping.</h5>
<h5>As a Mac user, I need to use a VM for a lot of applications.</h5>
<h5>Sometimes it takes 3+ hours to push to github.</h5>
<h5>It also has MANY more steps and is much more confusing than zipping.</h5>
<h5>I do like the feedback received, and easy access to the solution.</h5>